# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
.expo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs / coverage
logs/
*.log
npm-debug.log*
coverage/
.nyc_output/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Uploads (local disk storage)
apps/api/uploads/
apps/api/tmp/
apps/api/.embedded-pg/

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Misc
*.pem
.turbo/
.cache/
